<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>woweb test</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container document">

    <div class="top-action">
        <a class="back" href="./documents.html">Übersicht</a>
    </div>


    <div class="center-col">

        <h1>Document 1108ee4f-37cc-4d3b-8699-b93fba31d9f5</h1>

        <div class="paragraph">
            <div class="actions">
                <div class="action drag"></div>
                <div class="action user">
                    <div class="action-text right">Florian</div>
                </div>
                <div class="action trash">
                    <div class="action-text right">löschen</div>
                </div>
            </div>
            <label>
                <textarea class="paragraph-editor"></textarea>
            </label>
        </div>

        <div class="document-action">
            <div class="action add"></div>
        </div>
    </div>
</div>


</body>
</html>